<div class="workDayb" id="worTop">
	<!--红色头部-->
	<div class="wor_day">
		<div class="wor_day1" @click="totranslate()"><img src="./images/goback.png" /></div>
		<div class="wor_day11">工作日报</div>
	</div>
	<div style="margin-top: 1.33rem;"></div>
	<div class="wor_day12">
		<div class="wor_day13" :class="chnum==0?'wor_day2':''" @click="chg(0)">
			写日报
		</div>
		<div class="wor_day14" :class="chnum==1?'wor_day2':''" @click="chg(1)">
			我的日报
		</div>
	</div>
	<!--写日报-->
	<div v-show="chnum==0">
		<v-writePart></v-writePart>
	</div>
	<!--我的日报-->
	<div v-show="chnum==1">
		<div class="wor_day65">
			<mt-button class="wor_day66" @click.native="open('picker')" size="small">{{value | formatDate}}</mt-button>
			<mt-datetime-picker class="picker_show" ref="picker" type="date" v-model="value" :endDate="endDate">
			</mt-datetime-picker>
		</div>
		<!--第一个信息-->
		<v-reportPart></v-reportPart>
	</div>
	<div style="height: 1rem;"></div>
</div>