*{
	margin: 0;padding: 0;
}
.workDayb{
	font-size: 0.37rem;color: #333;
}
.wor_day{
	height: 1.33rem;background: #E35D40;color: #FFF;position: fixed;z-index: 200;top: 0;width: 100%;overflow: hidden;
}
.wor_day1{
	float: left;width: 1.12rem;font-weight: bold;text-align: center;margin-top: 0.5rem;
}
.wor_day11{
	float: left;width: 7.86rem;text-align: center;line-height: 1.33rem;
}
.wor_day12{
	height: 1.33rem;background: #FFF;
}
.wor_day13{
	float: left;margin-left: 0.53rem;width: 4.05rem;height: 1.28rem;text-align: center;line-height: 1.3rem;
}
.wor_day14{
	float: left;margin-left: 1rem;width: 4.05rem;height: 1.28rem;line-height: 1.3rem;text-align: center;
}
.wor_day15{
	min-height: 1.33rem;text-indent: 0.26rem;background: #FFF;overflow: hidden;
}
.wor_day15 input{
	margin-left: 0.4rem;outline: none;resize: none;margin-top: 0.47rem;width: 6rem;height: auto;border: none;
}
.wor_day2{
	color: #E35D40;border-bottom: 1px solid #E35D40;
}
.wor_day4{
	opacity:1
}
.wor_day5{
	opacity: 0;
}

.wor_day65{
	height: 1.08rem;background: #FFF;margin-top: 0.26rem;padding-top: 0.26rem;
}
.wor_day66{
	margin-left: 0.26rem;width: 4.3rem;border: 0.03rem solid #BBB;box-shadow: none;background: #FFF;
}