*{
	margin: 0;padding: 0;
}
.navbar{
  position: relative;
  /*margin-top: 1.52rem;*/
  width: 100%;
  text-align: center;
  background: #fff;
  height: 1rem;
  font-size: 0.37rem;
  color: #333;
}
.navbar ul li{
	float: left;
	margin-left: 0.3rem;margin-right: 0.3rem;
	height: 0.85rem;line-height: 0.85rem;margin-top: 0.1rem;
}
.homeSalesman{
	font-size: 0.33rem;color: #333;
}
.hom_sam{
	width: 100%;height: 1.2rem;position: fixed;top: 0;background: #FFF;z-index: 200;
}
.hom_sam1{
	width: 7.04rem;height: 0.67rem;border: 0.02rem #BBB solid;margin: 0 auto;margin-top: 0.24rem;border-radius: 0.33rem;z-index: 200;overflow: hidden;
}
.hom_sam1 input{
	margin-left: 0.93rem;width: 5.33rem;outline: none;border: none;margin-top: 0.14rem;float: left;font-size: 0.33rem;
}
.hom_sam1 img{
	margin-top: 0.05rem;float: left;
}
.hom_sam11{
	height: 0.27rem;background: #F2F2F2;margin-top: 1.2rem;
}
.hom_sam12{
	height: 1rem;background: #F2F2F2;line-height: 1rem;color: #B3B3B3;text-indent:0.27rem;
}
.hom_sam13{
	overflow: hidden;width: 100%;background: #FFF;color: #666;
}
.hom_sam14{
	height: 1.39rem;
}
.hom_sam15{
	margin-top: 0.53rem;margin-left: 0.24rem;font-size: 0.37rem;float: left;
}
.hom_sam16{
	margin-top: 0.53rem;color: #F25B5B;font-weight: bold;font-size: 0.39rem;text-indent: 0.1rem;font-style: oblique;float: left;
}
.hom_sam17{
	margin-top: 0.53rem;float: right;color: #E35D40;font-size: 0.32rem;margin-right: 0.24rem;
}
.hom_sam18{
	width: 9.55rem;margin: 0 auto;background: #F2F2F2;overflow: hidden;
}
.hom_sam19{
	width: 5.87rem;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;margin-left: 0.27rem;height: 0.34rem;line-height: 0.34rem;float: left;
}
.hom_sam19 img{
	position: absolute;margin-left: 0.2rem;margin-top: -0.05rem;
}
.hom_sam2{
	margin-left: 0.3rem;
}
.hom_sam21{
	float: right;color: #E35D40;width: 2.93rem;text-align: right;margin-right: 0.27rem;
}
.hom_sam22{
	float: right;width: 2.93rem;text-align: right;margin-right: 0.27rem;
}
.hom_sam23{
	margin-top: 0.27rem;overflow: hidden;
}
.hom_sam24{
	margin-top: 0.43rem;overflow: hidden;
}
.hom_sam25{
	height: 0.3rem;
}
.hom_sam26{
	height: 1rem;line-height: 1rem;
}
.hom_sam27{
	float: left;margin-left: 0.24rem;width: 4.9rem;
}
.hom_sam28{
	float: right;margin-right: 0.24rem;font-size: 0.37rem;color: #333;
}
.hom_sam29{
	border-bottom: 0.03rem solid #E35D40;color: #E35D40;
}
.hom_sam3{
	width: 100%;overflow: hidden;border-top: 0.03rem dashed #BBB;margin-top: -0.03rem;
}
