  <div class="homeSalesman">
  	<div style="padding-bottom: 1.5rem;">
  		<!--搜索框-->
	  	<div class="hom_sam">
	  		<div class="hom_sam1">
	  			<input type="text" placeholder="请输入公司名称或订单编号" />
	  			<img src="./images/searchButtom.png" />
	  		</div>
	  	</div>
	  	<div class="hom_sam11"></div>
	    <div class="navbar" >
	      <ul>
	      	<li :class="chnum==0?'hom_sam29':''" @click="cgNum(0)">待审核</li>
	      	<li :class="chnum==1?'hom_sam29':''" @click="cgNum(1)">待确认</li>
	      	<li :class="chnum==2?'hom_sam29':''" @click="cgNum(2)">待付款</li>
	      	<li :class="chnum==3?'hom_sam29':''" @click="cgNum(3)">待发货</li>
	      	<li :class="chnum==4?'hom_sam29':''" @click="cgNum(4)">待收货</li>
	      	<li :class="chnum==5?'hom_sam29':''" @click="cgNum(5)">全部</li>
	      </ul>
	    </div>
	    <div class="hom_sam12">{{intro}}</div>
	    <!--待审核内容-->
	    <div class="hom_sam13">
	    	<div @click="todetail()">
		    	<!--售达方-->
		   		<div class="hom_sam14">
		   			<div class="hom_sam15">
		   				售达方：山东橡胶有限公司
		   			</div>
		   			<div class="hom_sam16">款到发货</div>
		   			<div class="hom_sam17">{{zt}}</div>
		   		</div>
		   		<!--灰色部分/货物信息-->
		   		<div class="hom_sam18">
		   			<!--第一个货物-->
		   			<div class="hom_sam3">
		   				<!--第一行-->
			   			<div class="hom_sam23">
			   				<div class="hom_sam19">
				   				分类：拉丝<span class="hom_sam2">牌号：T30S</span>
				   			</div>
				   			<div class="hom_sam21">￥10650</div>
			   			</div>
				   		<!--第二行-->
			   			<div class="hom_sam24">
			   				<div class="hom_sam19">
				   				产地：盘锦<span class="hom_sam2">库别：烟台库</span>
				   			</div>
				   			<div class="hom_sam22">x1.5吨</div>
			   			</div>
			   			<div class="hom_sam25"></div>
		   			</div>
		   			<!--第二个货物-->
		   			<div class="hom_sam3">
		   				<!--第一行-->
			   			<div class="hom_sam23">
			   				<div class="hom_sam19">
				   				分类：拉丝<span class="hom_sam2">牌号：T30S</span>
				   			</div>
				   			<div class="hom_sam21">￥10650</div>
			   			</div>
				   		<!--第二行-->
			   			<div class="hom_sam24">
			   				<div class="hom_sam19">
				   				产地：盘锦<span class="hom_sam2">库别：烟台库</span>
				   			</div>
				   			<div class="hom_sam22">x1.5吨</div>
			   			</div>
			   			<!--第三行-->
			   			<div v-show="chnum==0 || chnum == 5" class="hom_sam24">
			   				<div class="hom_sam19"style="color: #E35D40;">
				   				审核未通过：销售单价过低
				   			</div>
				   			<!--<div class="hom_sam22"style="color: #CCC;">运费：230</div>-->
			   			</div>
			   			<div class="hom_sam25"></div>
		   			</div>
		   		</div>
		   		<!--订单编号&合计-->
		   		<div class="hom_sam26">
		   			<div class="hom_sam27">订单编号：DN11111111111111</div>
		   			<div class="hom_sam28">合计：15975元</div>
		   		</div>
		   	</div>
	    </div>
	    <!--待审核内容-->
	    <div class="hom_sam13">
	    	<div @click="todetail()">
		    	<!--售达方-->
		   		<div class="hom_sam14">
		   			<div class="hom_sam15">
		   				售达方：山东橡胶有限公司
		   			</div>
		   			<div class="hom_sam16" style="color: #60A5F3;">货到付款</div>
		   			<div class="hom_sam17">{{zt}}</div>
		   		</div>
		   		<!--灰色部分/货物信息-->
		   		<div class="hom_sam18">
		   			<!--第一个货物-->
		   			<div class="hom_sam3">
		   				<!--第一行-->
			   			<div class="hom_sam23">
			   				<div class="hom_sam19">
				   				分类：拉丝<span class="hom_sam2">牌号：T30S</span><img src="./images/huoche.png" />
				   			</div>
				   			<div class="hom_sam21">￥10650</div>
			   			</div>
				   		<!--第二行-->
			   			<div class="hom_sam24">
			   				<div class="hom_sam19">
				   				产地：盘锦<span class="hom_sam2">库别：烟台库</span>
				   			</div>
				   			<div class="hom_sam22">x1.5吨</div>
			   			</div>
			   			<div class="hom_sam25"></div>
		   			</div>
		   		</div>
		   		<!--订单编号&合计-->
		   		<div class="hom_sam26">
		   			<div class="hom_sam27">订单编号：DN11111111111111</div>
		   			<div class="hom_sam28">合计：15975元</div>
		   		</div>
		   	</div>
	    </div>
  	</div>
  	
    <v-footer></v-footer>
	</div>
