<div class="sales_statistics">
	<div class="news">
		<img src="./img/back.png" @click="goback"/>
		<span class="newtext">销售统计</span>
	</div>
	<div class="none"></div>
	<div class="kind">品种销售情况</div>
	<div class="charts">
		<div class="chart_input">
			<input type="text" value="2991抚顺" class="topinput" />
			<el-date-picker style="width: 5.84rem; height: 0.64rem;font-size: 0.34rem;"
	      v-model="value6"
	      type="daterange"
	      range-separator="至"
	      start-placeholder="开始日期"
	      end-placeholder="结束日期">
	    </el-date-picker>
		</div>
		<div id="myChart" class="chart1"></div>
	</div>
	<div class="kind">业务员销售情况</div>
	<div class="charts charts2">
		<div class="chart_input">
			<input type="text" value="2991抚顺" class="smallinput" />
			<select name="mans" class="select">
				<option value="张三">张三</option>
				<option value="李四">李四</option>
				<option value="王五">王五</option>
			</select>
			<el-date-picker style="width: 5.7rem; height: 0.64rem;font-size: 0.34rem;"
			      v-model="value6"
			      type="daterange"
			      range-separator="至"
			      start-placeholder="开始日期"
			      end-placeholder="结束日期">
	    </el-date-picker>
		</div>
		<div id='myChart2' class="chart2"></div>
	</div>
</div>