<div class="translateclock">
	<div class="titler">
		<img class="back" v-if="clc == 1||2" @click="totranslate" src="./images/goback.png">
		<p class="back" v-if="clc == 3" @click="totranslate">x</p>
		<p class="title">外出打卡</p>
	</div>
	<div class="matop"></div>
	<div class="clocktab">
		<div class="tab" :class="{wclick:clc == 1}" @click="clicktab(1)">打卡</div>
		<div class="tab mar" :class="{wclick:clc == 2}" @click="clicktab(2)">我的打卡记录</div>
	</div>

	<div v-if="clc == 1">
		<div class="staff">
			<img src="./images/touxiang.png" />
			<p>张嘉欣</p>
		</div>
		<baidu-map class="bm-view" ak="0UrS2icZW7xmIvWxk6cRz2IntAlKGV2M" :center="center" :zoom="zoom" @ready="handler">
			<bm-navigation anchor="BMAP_ANCHOR_TOP_RIGHT"></bm-navigation>
		</baidu-map>
		<div class="picther">
			<div style="display: none;">
				<form action="" enctype="multipart/form-data">
					<input type="file" @change="upload(this)" id='daka'>
				</form>
			</div>
			<div class="picthertop">
				<p>图片</p>
				<img src="./images/picther.png" @click="dk" />
			</div>
			<div class="nouse" v-if="dkt != '' ">
				<img v-bind:src="dkt" />
				<img v-bind:src="dkt" />
			</div>
		</div>
		<div class="clickbtn" @click="dalert">打卡</div>
	</div>

	<div class="cover" v-if="out">
		<div class="covermessage">
			<div class="tallworks">
				<img src="./images/posi.png" /><span>打卡成功</span>
			</div>
			<div class="talltime">
				{{dangqiantime}}
			</div>
			<div class="iknow" @click="hid">
				我知道了
			</div>
		</div>
	</div>


	<v-reportParty v-show="clc == 2"></v-reportParty>
	<div v-if="clc == 3">
		<div class="staff">
			<img src="./images/touxiang.png" />
			<p>张嘉欣</p>
		</div>
		<baidu-map class="bm-view" ak="0UrS2icZW7xmIvWxk6cRz2IntAlKGV2M" :center="center" :zoom="zoom" @ready="handler">
			<bm-navigation anchor="BMAP_ANCHOR_TOP_RIGHT"></bm-navigation>
		</baidu-map>
		<div class="nouse">
			<img v-bind:src="dkt" />
			<img v-bind:src="dkt" />
		</div>
		<div class="dakadidian">
			<p>打卡时间:{{dangqiantime}}</p>
			<p>打卡地点：山东烟台龙口</p>
		</div>
	</div>
</div>