<div class="translate">
	<div class="translatetop">
		<div class="topword">内勤外勤</div>
		<div class="topbody">
			<div class="dome" @click="toclock">
				<img src="./image/daka.png" />
				<p>外出打卡</p>
			</div>
			<div class="dome">
				<img src="./image/ribao.png" />
				<p>工作日报</p>
			</div>
			<div class="dome">
				<img src="./image/jiage.png" />
				<p>价格查询</p>
			</div>
		</div>
	</div>
	<div class="translatetop">
		<div class="topword">报表统计</div>
		<div class="topbody">
			<div class="dome">
				<img src="./image/tongji.png" />
				<p>销售统计</p>
			</div>
			<div class="dome">
				<img src="./image/kehu.png" />
				<p>客户统计</p>
			</div>
			<div class="dome">
				<img src="./image/yinshou.png" />
				<p>应收账款</p>
			</div>
		</div>
	</div>	
</div>