<div class="tradeSuccess">
	<!--红色头部-->
	<div class="tra_suc">
		<div class="tra_suc1" @click="towriteMessage()"><img src="./images/goback.png" /></div>
		<div class="tra_suc11">交易成功</div>
	</div>
	<div style="height: 2.8rem;background: #FFF;"></div>
	<div class="tra_suc12"style="">
		<img src="./images/duigou.png" />
	</div>
	<div class="tra_suc13"style="">交易完成</div>
	<div class="tra_suc14"style="" @click="tohomeSalesman()">返回首页</div>
	<div style="height: 11.14rem;background: #FFF;"></div>
</div>