

.sucessbody {
	background: #fff;
	text-align: center;
	height:6.56rem;
	padding-top: 2.53rem;
}

.sucessbody img {
	margin-bottom: 0.35rem;
}

.sucessbody p {
	font-size: 0.37rem;
	line-height: 0.61rem;
	margin-top: 0.1rem;
}

.sucessbody button {
	border: 0.03rem solid #E35D40;
	background: #fff;
	color: #E35D40;
	width: 2.13rem;
	height: 0.8rem;
	margin-top: 0.61rem;
	border-radius: 0.1rem;
	outline: none;
}