.clear:after{display:block;clear:both;content:"";visibility:hidden;height:0}
.clear{zoom:1}
.mynews{
	font-size: 0.37rem;
}
.myinfo{
	background: white;
	line-height: 1.5rem;
	margin-bottom: 0.5rem;
	padding:0 0.5rem;
}
.underline{
	border-bottom: 0.02rem solid #CCCCCC;
}
.part{
	line-height: 1rem;
}
.redbg{
	background: #FFF7F5;
}
.pass{
	color: #E35D40;
	font-size: 0.33rem;
	float: right;
}
.reason{
	color: #E35D40;
}
