<div class="addressee">
		<router-link to="/takelistmessage" class="picth" replace>
			<div class="contacts1" v-for="(add,index) in address">
				<div>
					<div class="contactsone1">
						<p>联系人：{{add.name}}</p>
						<p>联系电话：{{add.phone}}</p>
					</div>
					<div class="contactstwo1">
						<p class="contactstwo1p1">配送地址：{{add.place}}</p>
						<p v-if="index==0" class="contactstwo1p2">默认地址</p>
					</div>
				</div>
			</div>
		</router-link>

	<div class="newaddressee">
		<router-link to="/newaddressee"><button>添加新地址</button></router-link>
	</div>
</div>