*{
	margin: 0;padding: 0;
}
.dakaLeaderLook{
	font-size: 0.37rem;color: #333;
}
.dak_lea12{
	height: 1.15rem;background: #FFF;
}
.dak_lea13{
	width: 4.6rem;height: 0.8rem;border-radius: 0.1rem;border-color: #BBB;margin-top: 0.16rem;margin-left: 0.28rem;color: #888;text-indent: 0.1rem;float: left;outline: none;
}