<div class="dakaLeaderLook">
	<!--红色头部-->
	<div class="dak_lea">
		<div class="dak_lea1" @click="toorderDetails()"><img src="./images/goback.png" /></div>
		<div class="dak_lea11">外出人员记录</div>
	</div>
	<div style="margin-top: 1.33rem;"></div>
	<div class="dak_lea12">
		<select id="dnm" class="dak_lea13" @change="dn()">
			<option>请选择部门</option>
			<option>财务部</option>
			<option>信息部</option>
		</select>
		<select class="dak_lea13">
			<option>请选择职员</option>
			<option  v-for="dn in dname">{{dn}}</option>
		</select>
	</div>
	<!--第一个信息-->
	<div class="dak_lea14" v-for="rec in records">
		<!--头像-->
		<div class="dak_lea15">
			<img v-if="!rec.peopleImg" src="./images/waichuMR.png" />
			<img v-if="rec.peopleImg" :src="rec.peopleImg" />
		</div>
		<div class="dak_lea16">
			<div class="dak_lea17">{{rec.name}}</div>
			<div class="dak_lea18">外出地点：{{rec.place}}</div>
			<div class="dak_lea19">
				<div class="dak_lea2" v-for="re in rec.pic">
					<img :src="re" />
				</div>
			</div>
			<!--时间-->
			<div class="dak_lea21">2018-03-21</div>
			<div style="height: 0.66rem;"></div>
		</div>
	</div>
</div>