.takelistregisterup {
	width: 100%;
	height: 5.06rem;
	background: #FFFFFF;
}
.takelistregister {
	margin-top: 0.37rem;
	width: 100%;
	height: 5.06rem;
	background: #FFFFFF;
}

.taketop {
	text-align: center;
	padding-top: 1.06rem;
}

.taketop img {
	width: 1.6rem;
	height: 1.6rem;
}

.takefot {
	text-align: center;
	padding-top: 1.06rem;
}

.takefot img {
	width: 1.6rem;
	height: 1.6rem;
}

p {
	text-align: center;
	margin-top: 0.37rem;
	font-size: 0.42rem;
}

.picth {
	text-decoration: none;
	color: black;
	cursor: pointer;
}