<div class="dakaLeaderLook">
	<!--红色头部-->
	<div class="dak_lea">
		<div class="dak_lea1" @click="toorderDetails()"><img src="./images/goback.png" /></div>
		<div class="dak_lea11">外出人员记录</div>
	</div>
	<div style="margin-top: 1.33rem;"></div>
	<div class="dak_lea12">
		<select id="dnm" class="dak_lea13" @change="dn()">
			<option>请选择部门</option>
			<option>财务部</option>
			<option>信息部</option>
		</select>
		<select class="dak_lea13">
			<option>请选择职员</option>
			<option  v-for="dn in dname">{{dn}}</option>
		</select>
	</div>
	<!--第一个信息-->
	<v-reportPart></v-reportPart>
	<div style="height: 1rem;"></div>
</div>