<div class="mydaybDetail">
	<!--红色头部-->
	<div class="myd_det">
		<div class="myd_det1" @click="toworkDayb()"><img src="./images/goback.png" /></div>
		<div class="myd_det11">工作日报</div>
	</div>
	<div style="margin-top: 1.33rem;"></div>
	<div class="myd_det12">
		<div class="myd_det13">
			今日完成工作
		</div>
		<div class="myd_det14">
			<p >主管会定期通过日志统计去检查员工的工作进度并进行评论，这个就是过程管控。</p>
			<div style="height: 0.5rem;"></div>
		</div>
	</div>
	<div class="myd_det15">
		<div class="myd_det16">图片</div>
		<div class="myd_det17">
			<img src="./images/ddpic.png" />
		</div>
		<div class="myd_det17">
			<img src="./images/ddpic.png" />
		</div>
		<div class="myd_det17">
			<img src="./images/ddpic.png" />
		</div>
	</div>
</div>