.customer_statistics {
	font-size: 0.37rem;
}

.clear:after {
	display: block;
	clear: both;
	content: "";
	visibility: hidden;
	height: 0
}

.clear {
	zoom: 1
}

.chart_input {
	margin-left: 0.3rem;
	margin-top: -0.15rem;
	display: flex;
}

.chart_input input {
	width: 2.93rem;
	height: 0.5rem;
	text-indent: 0.2rem;
	outline: none;
}

.chart2 {
	width: 360px;
	height: 9rem;
}

.charts2 {
	height: 9.5rem;
}

.charts {
	position: relative;
	background: white;
	padding-top: 0.5rem;
}

.sal-data {
	width: 3rem;
	height: 0.613rem;
	background: white;
	outline: none;
	border: 0.03rem solid #BBB;
	border-radius: 0;
	box-shadow: none;
	margin-top: -0.02rem;
	font-size: 0.33rem;
	margin-left: 0.3rem;
}

.leftinput {
	margin-right: 0.5rem;
}